
body
{
    
    background: linear-gradient(gray, white);
    font-family: 'Times New Roman', Times, serif;
}

p
{
font-size: 14pt;
}

.center
{
    text-align: center;
}

.justify
{
    text-align: justify;
}

.rightAlign
{
    text-align: right;
}

.border
{
    border-radius: 50%;
}

.margin
{
    margin-left: 40px;
    margin-right: 60px;
}

.margintop
{
    margin-top: 50px;
}

.wh
{
    width: 300px;
    height: 300px;
}

.pad15
{
    padding: 15px;
}

.container
{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
   
}

#menu li 
{
    display: inline;
    font-size: 14pt;
    padding: 15px;
    
}
#menu li a
{
text-decoration: none; 
color: black;

}

#menu li a:hover
{
    color: rgb(153, 34, 103);
    font-size: 18px;
}

.icons
{
    width: 40px;
    height: 40px;
}
