
#menu li a:hover 
{
    color: turquoise;
    transform: scale(1.1);
}

.card:hover
{
transform: scale(1.1);
}

p
{
    font-size: 12pt;
    text-align: justify;
}

.icon
{
    width: 40px;
    height: 40px;
}

#mapa:hover
{
    transform: scale(1.2)
}

.background
{
    background-color: rgb(236, 163, 176);
    color: white;
}

#logo:hover
{
    transform: scale(1.1);
}

.img
{
    width: 150px;
    height: 150px;
}

html
{
    scroll-behavior: smooth;
}

#voltar
{
    text-decoration: none;
    color: rgb(12, 11, 11);
    text-align: right;
    text-align-last: right;
    font-size: 11pt;
}